{% extends 'base.html' %}

{% block title %}
User List
{% endblock %}

{% block content %}

<h1>Barcha foydalanuvchilar</h1>

<a href="{% url 'create_user' %}">
    <button class="btn-create">Create User</button>
</a>

{% for user in users %}
<div class="card">

    {% if user.picture %}
        <img src="{{ user.picture.url }}" width="150">
    {% endif %}

    <h2>{{ user.first_name }} {{ user.last_name }}</h2>

    <br>

    <a href="{% url 'user_view' user.slug %}">
        <button class="btn-view">View</button>
    </a>

    <a href="{% url 'update_user' user.slug %}">
        <button class="btn-update">Update</button>
    </a>

    <a href="{% url 'delete_user' user.slug %}">
        <button class="btn-delete">Delete</button>
    </a>

</div>
{% endfor %}

{% endblock %}