{% extends 'base.html' %}

{% block title %}
User Detail
{% endblock %}

{% block content %}

<div class="card">

    {% if user.picture %}
        <img src="{{ user.picture.url }}" width="250">
    {% endif %}

    <h1>{{ user.first_name }} {{ user.last_name }}</h1>

    <br>

    <a href="{% url 'update_user' user.slug %}">
        <button class="btn-update">Update</button>
    </a>

    <a href="{% url 'delete_user' user.slug %}">
        <button class="btn-delete">Delete</button>
    </a>

    <br>
    
    <a href="{% url 'user_list' %}">
        <button class="btn-cancel">Bosh sahifaga qaytish</button>
    </a>

</div>

{% endblock %}